[2014-11-16 09:23] c02y opened #1 "yafolding vs. origami"
Are there any other advantages besides more interactive functions compared with [yafolding](https://github.com/zenozeng/yafolding.el)???

BTW, origami requires s and dash, yafolding doesn't require any other packages.

[2014-11-16 12:52] #1 closed, assigned to nobody

[2014-11-16 16:50] c02y opened #2 "make origami-hide-node-overlay more light and more"
In origami.el, you make the face of overlay(...)  `font-lock-comment-delimiter-face`, which is grey in my theme, which is not so easy to notice. I think a more light color like red or yellow would be better.

Check the image at [yafolding](https://github.com/zenozeng/yafolding.el), it shows arrow fringe marks at the left fringe of the window to make the fold block more noticeable, you should do th

[2014-11-16 17:01] c02y opened #3 "No toggle all nodes"
There are `origami-open-all-nodes` and `origami-close-all-nodes` commands, why not combining the two into one toggle command, there is another command `origami-recursively-toggle-node` which is just useful for one fold, which is exactly the same as `origami-toggle-node`, I tried them both in a big structure in origami.el(https://github.com/gregsexton/origami.el/blob/master/origami.el#L76-L102), no

[2014-11-16 17:12] c02y opened #4 "Does not work in many structures in elisp"
Code snippet example1:

[code]

Code snippet example2:

[code]

Code snippet example3:

[code]

and many more...

None of the origami-open/close/toggle commands will work in these structures, [yafolding](https://github.com/zenozeng/yafolding.el) does.

Not tested in other modes.

[2014-11-16 18:09] #3 closed, assigned to nobody

[2014-11-20 23:52] gvol opened #5 "isearch doesn't open folds"
It would be nice if isearch opened folds temporarily, and then permanently when you exit isearch.  As an example of a use case, I fold my entire buffer so I can see what's going on easier at a high level.  Then I search for a variable, but they are all hidden, so even though isearch can find them I can't see what they are until I exit and open them.

This can be handled by setting properties on th

[2014-11-22 09:18] #4 closed, assigned to nobody

[2014-11-22 09:19] gregsexton opened #6 "Add indentation based parser"
Make this the fallback parser for unknown modes.

[2014-11-22 10:27] #5 closed, assigned to nobody

[2014-11-23 23:37] LeoAdamek opened #7 "FEATURE: Global Origami Mode"
It'd be great to have a `global-origami-mode` minor mode, so that we don't have to explicitly `add-hook` for each mode we want `origami-mode` we want origami features available on.

Suggest that `global-origami-mode` would simply enable `origami-mode` for any mode which has a parser set in `origami-parser-alist`

Just a suggestion having just started using origami mode, so I don't know if this alr

[2014-11-24 09:21] priyadarshan opened #8 "How to add left visual clue"
Thank you for `origami`, I like it very much. One thing I miss from other similar solutions is a visual cue on the *left* of the fold (beside the ellipses on the right), similar, for example, to `yafolding` (see [image here](https://camo.githubusercontent.com/452fa678957f5d69b6a41aafb081b101b59eaf53/68747470733a2f2f7261772e6769746875622e636f6d2f7a656e6f7a656e672f7961666f6c64696e672e656c2f6d6173746

[2015-04-04 03:03] andschwa opened #9 "package.el link"
Hi,

The homepage link for the package (when viewed in `M-x list-packages` goes to your [user](https://github.com/gregsexton) and not the [repo](https://github.com/gregsexton/origami.el), which meant to find it I had to hunt.

Just FYI.

Cheers,

Andy

P.S. I love this package.

[2015-04-04 11:16] #9 closed

[2015-04-04 11:17] gregsexton commented on #9
Thanks for fixing this! Glad you like the package. :)

[2015-04-04 19:14] andschwa commented on #9
My wife has been looking for code folding for Emacs, I was so glad to share this with her. Thanks for developing it @gregsexton!

[2015-04-22 14:15] Trevoke commented on #8
I would also like this feature.

[2015-04-22 17:24] Trevoke opened #11 "Opened a question on StackOverflow about writing one's own parsers"
I am not very familiar with elisp yet, and I wasn't sure, based on the existing examples, how I could make a parser work for Ruby (either using ruby-mode or enhanced-ruby-mode, though I use the latter one).

So I opened a question: http://emacs.stackexchange.com/questions/10860/origami-folding-package-create-parser-for-ruby?noredirect=1#comment16808_10860

[2015-04-25 14:23] gregsexton commented on #7
Sorry this took me so long to get to. I've added the global mode and also added go and php to the default parsers alist.

[2015-04-25 14:23] #7 closed

[2015-04-25 14:33] gregsexton opened #12 "Improve documentation for creating a parser"
Document this thoroughly and provide examples.

[2015-04-25 14:37] gregsexton commented on #11
I've answered your initial questions. Sorry the documentation is so lacking. I'll see if I can get something basic working. Ruby isn't the easiest of languages to parse. Maybe you can take what I write and improve on it?

[2015-04-25 14:41] gregsexton commented on #11
It's also worth mentioning the lisp-parser. This takes a different strategy and uses functions provided by the mode to navigate and build the structure. It's simpler and less error-prone than actually writing a parser. You may be able to take a similar strategy with ruby, depending on what enhanced-ruby-mode provides.

[2015-04-26 13:58] gregsexton commented on #6
Done

[2015-04-26 13:58] #6 closed

[2015-04-26 14:00] gregsexton commented on #11
I've written a parser that works based on indentation. This is now the default when there isn't a parser configured for a major-mode. Hopefully this will work to some extent while I take a look at writing a ruby-specific parser.

[2015-05-04 18:15] dfh opened #13 "Request: Fold based on explicit markers"
I would find it very useful to be able to fold on explicit fold markers, à la folding.el! For example in long configuration files with no indentation. I think explicit markers are the only viable solution then? Anyway, my elisp is not quite sharp enough to add it myself without making a big mess, I'm afraid. But I'm hoping that maybe it's quite an easy fix?

Thanks!

[2015-05-09 08:31] gregsexton commented on #13
Thanks for adding this issue. I'll try to whip something up soon.

[2015-06-05 11:43] whirm opened #14 "Please, add docstring folding support for python"
It would be a great feature to have.

Thanks!

[2015-07-09 21:41] dakrone opened #15 "recenter-top-bottom (C-l) doesn't quite work correctly with origami nodes folded"
When I fold lots of things, then try to recenter the cursor with `C-l`, it doesn't actually get recentered, see:

![2015-07-09-154038_1920x1080_scrot](https://cloud.githubusercontent.com/assets/19060/8607559/ec1ab068-2650-11e5-82e3-7101da047b92.png)

(This is immediately after hitting `C-l`)

[2015-07-11 17:26] gregsexton commented on #15
Thanks for reporting. I'll take a look.

[2015-07-23 10:28] Klinkenstecker commented on #13
A simple solution, that uses hardcoded markers (in this case `//{` for the start of a fold and `//}` for the end of a fold) into the parser looks like this:
[code]

That works already, but fold also the text in the line behind `//{`, which is a different to folding.el, and therefore not so great for my code base. My elisp is also really bad, but i hacked a solution that you can find here:
https://

[2015-08-05 00:58] jvburnes opened #16 "origami-close-node collapses entire hierarchy"
When I execute origami-close-node on a child node it collapses the node from the topmost parent node, not from the current node.  Is this what origami is supposed to do?  From reading the docs origami definitely supports child nodes and multi-level folding.  (if it didn't it would be of extremely limited us).

[2015-08-22 11:06] gregsexton commented on #13
Hi. Sorry for the delay, I've really let github issues and PRs pile up on me. Taking a look at this and associated PR.

[2015-08-22 11:08] gregsexton commented on #16
This is not the correct behaviour. `origami-close-node` should just close the current node - it won't even close children, they'll just be hidden. Is this still an issue for you? Can you provide a sample and some steps so that I can reproduce?

[2015-08-22 11:51] gregsexton commented on #13
Closed #17

[2015-08-22 11:51] #13 closed

[2015-10-11 20:12] seckar commented on #8
[This branch](https://github.com/seckar/origami.el/tree/customize-display) highlights the line folding starts on, and adds an indicator in the fringe. The indicator is not customizable, but could be made so. Highlighting can be effectively turned off (while leaving the fringe indicator on) via customization if desired. The result looks like this:

<img width="719" alt="origami2" src="https://cloud

[2015-10-12 00:54] stardiviner commented on #8
I like this style. Great.

[2015-10-17 11:12] gregsexton commented on #8
Looks great. Submit a pull request and I'll see what I can merge. Thanks.

[2015-10-22 10:12] stardiviner commented on #8
@seckar Do you want to send a push request? I'm expecting for your new feature.

[2015-10-28 23:06] longouyang opened #19 "Persistent folds?"
How hard would it be to get folds to persist for a file across buffer / Emacs sessions?

[2015-10-29 04:00] gregsexton commented on #19
Not too hard. Origami builds a data structure by parsing the buffer each time it changes. It compares this data structure to the previous one, works out the differences and then changes the displayed folds accordingly. All that would be needed is to serialize this data structure on killing the buffer etc and then read it back in and apply it when the file is opened.

Is this a feature request or a

[2015-10-29 04:09] longouyang commented on #19
A feature request, but if you're too busy I might take a crack at it
(though I'm an elisp novice)
On Oct 28, 2015 9:00 PM, "Greg Sexton" <notifications@github.com> wrote:

[2015-10-30 11:55] gregsexton commented on #16
Haven't heard from you in a while. Feel free to comment if this is still an issue.

[2015-10-30 11:55] #16 closed

[2015-10-30 11:57] gregsexton commented on #19
Honestly, I'm pretty busy with other commitments at the moment. Sounds like a cool feature but it's not likely to make my todo list for a while. Feel free to take a crack. I'll help you out with any questions you have. Do ask before making any major changes or design decisions though. Otherwise you risk me not merging.

[2015-11-11 20:14] longouyang commented on #19
Would it suffice to store the buffer-local value `origami-history` when the file is saved and restore it when loading the file?

[2015-11-25 01:58] longouyang commented on #19
(bump)

[2015-11-29 09:34] gregsexton commented on #19
Yes. That sounds like a good strategy. You'll probably need to reload the history and then apply the latest tree with `origami-apply-new-tree`. Let me know how it goes! :)

[2015-12-26 18:06] cpitclaudel opened #20 "Support for the Coq programming language?"
Hi there,

This mode looks exciting (and much more powerful than the bundled outline).
I'm the maintainer of `company-coq`, a package for Coq/Gallina that used to do only completion, but now does a bunch more. I recently added code folding, but I had to write quite a bit of ad-hoc code for it to work nicely. The thread where the feature was discussed is https://github.com/cpitclaudel/company-coq/i

[2016-01-07 05:53] PythonNut commented on #11
Just curious, would something like SMIE help at all?

[2016-01-07 05:55] PythonNut commented on #19
@longouyang saving file-local variables persistently is an interesting problem. If you do find a solution, I'd love to see if it can be applied to other problems, such as [this one](http://emacs.stackexchange.com/questions/9374/how-to-persist-evil-markers).

[2016-01-07 06:38] longouyang commented on #19
So I just got a basic solution working in the [persist branch of my fork](https://github.com/longouyang/origami.el/tree/persist)

It recursively serializes the entire history object, converting overlays to lambdas that are later evaluated.

So a history like this:

[code]

Gets saved as this:
[code]

(`origami-hide-overlay` is only called for actually hidden nodes)

This needs more testing and som

[2016-01-07 06:57] longouyang commented on #19
Oh, and @PythonNut, I think [vimish-fold](https://github.com/mrkkrp/vimish-fold) has a completed persistence mode, so you might wanna look at that too.

[2016-01-17 17:07] gregsexton commented on #20
Origami outsources code folding to a parser that is responsible for constructing a tree of folds. You can get as complex with this as you like.

Detecting whether the point is in a fold is no problem. Manipulating the folds is also very trivial to do programatically.

The origami model looks something like this:

A parser constructs a fold tree. This tree is then compared to the previous tree and

[2016-01-22 05:08] imdaveho commented on #12
Hi @gregsexton, really like this project as a flexible text folding package for emacs. I agree with your assessment that the documentation for creating a parser is a bit shoddy, but I think you just need to give a simple example to help others understand the what functions to call.

I simply wanted to ask how you would implement folding for both stuff between braces (c-style-parser) _and brackets_

[2016-02-12 04:07] Trevoke commented on #11
What's SMIE?

Also, @gregsexton - finally came back to folding, the indentation-based parser is working well enough for my purposes for now so I'm gonna start using origami. Just need to figure out what bindings I want.

By the way - I really like the functions you've made available. Thanks for creating and maintaining this!

[2016-03-01 07:20] drgibbon opened #21 "Folding for knitr noweb chunks"
Not sure how complicated this would be, but I use LaTeX with embedded R code [knitr](http://yihui.name/knitr/) chunks (in an R noweb file, *.Rnw), and it would be great to be able to fold up the R code blocks. Some of mine are get quite long and it becomes a little unwieldy. A code block typically looks like;
[code]
So the filetype is *.Rnw, and the delimiters are;
Open: `<<SOME TEXT>>`
Close: `@`

[2016-03-08 13:20] stardiviner commented on #8
Is this feature merged?

[2016-03-08 13:53] vsrepo commented on #8
Last commit is from Aug 22, 2015, so I do no think there is any progress on this. I am also looking forward to it.

[2016-03-08 21:10] calebmeyer commented on #11
I write ruby and use origami and as long as you keep your indentation decent (you should be doing this anyway) it works like a charm.

@gregsexton if you get braces, brackets, parens, and do..end working, you'll have covered probably 50% of ruby. The rest would be def..end, class..end, module..end, etc.

[2016-03-12 10:24] gregsexton commented on #8
Sorry. Life has been crazy busy for me recently. I have a backlog of issues and prs that I will be trying to clear. I have every intention of merging this.

[2016-03-12 10:31] stardiviner commented on #8
Thank you for take time to merge.

[2016-03-13 21:17] gregsexton commented on #8
Merged #18 . Please pull the latest code and be sure to `(setq origami-show-fold-header t)`.

[2016-03-13 21:17] #8 closed

[2016-03-23 20:36] bbenne10 opened #22 "Add python support"
[Here](https://github.com/gregsexton/origami.el/blob/master/origami-parsers.el#L220) python-mode is bound to `origami-indent-parser`. This is convienent in the simple case, but there are a number of instances where this is less than useful. For example:

[code]

The above will fold to

[code]

This is frustrating because you can no longer see the name of the function being decorated. I intend to s

[2016-03-23 20:47] bbenne10 opened #23 "Collapsing top-level lines leads to issues"
Sorry for opening two issues in as many minutes!

When folding code based with the indentation parser, the outer indentation level is collapses as well. An example:

[code]

With the cursor over the `def __init__(...)` line,  I would expect the `__init__`  method definition to be closed and the `def __init__(...)` line to become `def __init__(...):...`. What I receive, however, is

[code]

Is my e

[2016-03-23 21:11] gregsexton commented on #23
I'm afraid this doesn't work as you expect. Origami collapses everything of that indentation level. To get the behaviour you're expecting you should collapse on one of the `self.xxx = xxx` lines.

[2016-03-23 21:11] #23 closed

[2016-03-23 21:14] gregsexton commented on #22
I hear you. Yeah indentation-based folding kinda sucks. It was added as a possibly useful fallback for when 'real' support isn't available. The complete fix is to write a python parser. You may be able to come up with some heuristics though that give you more preferable behaviour. Possibly defining blocks as: all following lines with greater indentation after a line ending in a colon. This should

[2016-03-24 09:11] jbeck111 opened #24 "Parsing commented text"
An elisp file with the text below does not parse successfully, and gives the error message "Scan error: unbalanced parentheses."  Which is not true (and in this case was quite difficult to track down):

[code]

The error was caused by the line
[code]
which was lacking an end double-quote, so this hid the closing parenthesis.  But this line was commented out, so it should not feature in what is par

[2016-03-24 13:18] bbenne10 commented on #22
It strikes me that the one problem I've run into so far is that when collapsing a block, the topmost line of the same indentation level is the one shown (as described above). Nothing else seems bound to the
indent parser explicitly, so changing this behavior shouldn't affect too many other languages (but might be inconvenient for some). If you've no objection, I may stumble around in the code a bi

[2016-03-25 09:12] gregsexton commented on #22
I'm not sure I understand what change you're proposing. When collapsing a block based on indent, what else would you show other than the top line? Just fyi: the indent parser is the default if nothing else is defined so changing it might actually have a wide impact. Feel free to send a PR but I would probably be more comfortable with you forking the indent parser if you're making changes that are

[2016-03-25 09:18] gregsexton commented on #2
This is now configurable. See origami-fold-replacement-face

[2016-03-25 09:18] #2 closed

[2016-03-25 09:19] gregsexton commented on #14
See also #22

[2016-05-01 15:29] syl20bnr opened #25 "Add comparison with vimish-fold"
Is it possible to add a comparison section with https://github.com/mrkkrp/vimish-fold ?

Thank you!

[2016-05-05 12:45] TheBB opened #26 "Can't fold node on first line in elisp"
It seems that if a function starts on the first line in the file, origami can't recognize it.

[2016-06-01 01:43] forflo opened #27 "Support for C-Makros"
It'd be very nice if annoying makros like

[code]

could be transformed into something like

[code]

If you don't have the time, let me know. I'll try to write it on my own then...

[2016-06-04 09:30] gregsexton commented on #27
This would be cool. I'll certainly add it to the backlog but if you want to have a go please feel free to send a PR. :)

[2016-06-26 00:26] cnglen opened #29 "support of scala?"

[2016-07-09 11:45] gregsexton commented on #29
Scala is syntactically (and otherwise :D) quite a complex language, that I don't use. Happy to take a PR for this but, honestly, I'm unlikely to dig in to this any time soon.

[2016-07-09 11:46] gregsexton commented on #29
In the meantime you might want to use the indentation parser?

[2016-07-09 11:46] #27 closed

[2016-07-09 11:50] gregsexton commented on #20
Closing this as I think I answered your questions?

[2016-07-09 11:50] #20 closed

[2016-07-12 11:59] bu2 opened #32 "Auto folding when opening a file (as a mode hook)"
Hi,

Thanks for that great plugin for Emacs.

I am trying to set my emacs config to run origami-close-all-nodes when opening C/C++ files.
Could you advise on the right config snippet to paste in my init.el ?

For the moment, I tried things like that (see the last 2 add-hooks) :

[code]

But it does not work as expected : it does nothing except giving the following error :
`File mode specification

[2016-07-13 16:39] therockmandolinist opened #33 "Folding a node with a comment directly above it"
In `python.el`, if there is a comment directly above a function, for loop, etc., I'm getting text folded into the comment line, rather than into the `def`,`for`,`if`, etc.

[2016-07-16 12:12] gregsexton commented on #33
This is expected behaviour. There isn't a python-specifc parser so we just use indentation as a guide. origami is unable to tell the difference between a comment and a function.

See #22

[2016-07-16 12:12] #33 closed

[2016-07-16 12:18] gregsexton commented on #32
You need two things: origami to be enabled and to call the functions interactively. They're designed to be callable programatically and so unless they're called interactively you need to pass them args. That's why you get the wrong number of args error.

Below works for me:

[code]

[2016-07-16 12:18] #32 closed

[2016-07-19 11:07] Loosefish opened #34 "Using dabbrev-expand in fold jumps forward"
When using `dabbrev-expand` inside a fold, the word is expanded and the cursor jumps forward to what looks like the end of the node.

Example with `origami-fold-style` set to  triple braces (`|` marks the cursor position):

    ;;; {{{
    (defun foo ()
      (con|
      (concat "foo" "bar"))
    ;;; }}}

Pressing `M-/` produces:

    ;;; {{{
    (defun foo ()
      (concat
      (concat "foo" "ba

[2016-07-23 09:28] gregsexton commented on #34
Which version of emacs are you running? This is odd but I have been able to repro.

[2016-07-23 09:40] Loosefish commented on #34
I'm on 24.5.1 running on linux.

[2016-07-23 09:43] gregsexton commented on #34
Thanks. When I try and debug this it hangs up Emacs, which is fun! Not sure yet what's going on. Thanks for pointing out the problem though.

[2016-08-09 13:49] meditans opened #35 "Please add haskell support"
It would be great to have a simple solution for haskell folding. The current solution, based on indentation, has many of the problems already highlighted in the `python` issue. Is there an example parser from where I could start?

[2016-08-09 14:06] vyp commented on #35
It would be nice to be able to fold up function definitions to just their type annotation line (if they have it), as a thought.

[2016-08-09 18:04] meditans commented on #35
@vyp the current behaviour does that, if the type annotation is preceded by a blank line. My main problem with this indentation is that if there is a haddock comment in the lines directly above the signature, the code gets folded to the first line of the haddock.

[2016-08-09 18:40] vyp commented on #35
Ah I see! I haven't actually used origami yet! (soon) So I assumed it didn't work with haskell at all because of this ticket.. :expressionless:

[2016-08-10 02:50] Trevoke opened #36 "Please create a release for melpa stable"
As far as I know, all that's needed is to tag commit that you consider a stable release with a version number and push those to Github, and melpa will do the rest.

[2016-08-13 17:15] gregsexton commented on #35
Take a look at the parsers in https://github.com/gregsexton/origami.el/blob/master/origami-parsers.el

The problem with Haskell is that there isn't a keyword used when defining a function, so this may be tricky. Unless you're willing to write an elisp Haskell parser (which would be cool) or one already exists (I have no idea), then you're probably left with adding some heuristics to the indentatio

[2016-09-06 13:23] ninrod opened #38 "[question] is there a way to collpase all folds by default"
I would love if, when I open a file, all folds are closed by default. is there a way to do that?

[2016-09-10 18:41] humitos commented on #38
Yes, you can call `origami-close-all-nodes` as a hook. For example, for `python-mode` it will be something like this:

    (add-hook 'python-mode-hook (lambda () (origami-close-all-nodes (current-buffer))))

Not tested, anyway.

[2016-09-10 18:52] humitos opened #39 "100% CPU when closing all nodes"
Hi,

I just installed this plugin into my [emacs configuration](https://github.com/humitos/emacs-configuration) and I'm having an issue when folding (close) all the nodes with `origami-close-all-nodes` in a python file with more than 500 lines: emacs takes the 100% of the CPU when I move  the cursor and everything is slow.

I tried it in other kind and small files and I don't have that problem. Do

[2016-09-12 13:51] zsoltika opened #40 "Please add SQL (PLSQL) parser"
Something like all `SELECT|UPDATE` statements could be folded up to the next `;`. `LOOP`s to `END LOOP`.

Even better for PROCEDURES, FUNCTIONS, PACKAGES...:

[code]

[2016-09-12 23:31] rgrinberg opened #41 "Comparison with vimfish-fold"
This library has a very nice section in the readme comparing different folding packages. It would be nice to extend it with this package https://github.com/mrkkrp/vimish-fold which many ex-vim users use.

[2016-09-14 08:33] marcbrouard commented on #21
Would like to second this, would be very useful to have this functionality. Personally would make my life a lot easier. Had a quick look at origami-parsers.el but not sure really where to start to implement this. Although my knowledge with lisp and regular expressions is limited I would be willing to try.

[2016-09-18 06:26] c02y opened #42 "origami-toggle-node cannot toogle at the beginning of the node"
Fox example:

[code]

the point is at beginning of the "int main" line, the ">" position (or any position before the symbol "{"), executing origami-toggle-node will do nothing, but expected to toggle the whole function, it only works inside the function (inside the "{...}").  But origami-recursively-toggle-node or origami-toggle-all-nodes work as expected. even from the beginning of the node.

BTW

[2016-09-18 06:33] c02y opened #43 "Unable to toggle the comment in C/C++"
yafolding can toggle the multiple-line comments in C/C++ source code but origami cannot.

[2016-09-21 22:48] humitos commented on #22
I review the parsers code and I was unable to understand how to create a new parser :(

I would like to create something simple for Python. I don't want to fold conditionals or loops, just `def` and `class` which are the most common annoying cases for me.

With `(origami-get-positions (buffer-string) "def\\|class")` I can get all the `def` and `class` positions, but I don't which function could he

[2016-09-24 09:19] #22 closed

[2016-09-24 09:22] gregsexton commented on #22
Your lucky day. I had to work with some python code recently so hacked up some support. This folds all top level functions and classes. Was good enough for me...

[2016-09-29 21:46] seabadger opened #44 "can a clickable fringe icon be added?"
For code browsing, sometimes it's useful to have a visual (and interactive) folding indicator in the fringe,
such as that described here: http://emacs.stackexchange.com/questions/112/actionable-code-folding-in-emacs-fringe

Would be a great addition to origami, I think :)

[2016-10-17 12:17] ninrod commented on #42
+1. @gregsexton!

Here's a screenshot to demonstrate:

point is above the `z` in zsh. I cannot open or close the fold in this position. I have to place point somewhere inside the braces on that line so that origami can open and close folds for me.

Being able to open or close a fold anywhere in a line that contains a fold would be a significant comfort improvement.

<img width="623" alt="screen sh

[2016-10-17 12:20] ninrod commented on #42
In my specific use case, I think the way to go would be to change the regex listed [here](https://github.com/gregsexton/origami.el/blob/master/origami-parsers.el#L258). Makes sense?

[2016-10-19 01:08] ninrod commented on #38
Ok, that works! thank you @humitos

[2016-10-19 01:08] #38 closed

[2016-10-24 04:19] purcell commented on #39
Are you using `linum`, perhaps? It's one package which can slow things down. There's `nlinum`, which is a faster (but otherwise equivalent) alternative.

[2016-10-25 16:41] yyadavalli opened #45 "Add folding of parentheses to java parser"
Hi,

I think would be a good addition if multi line parentheses can be folded
[code]
to

`method(...)` or `method(param1...)`

[2016-10-26 20:10] indigoviolet commented on #33
Any chance we can fix this for ruby as well?

[2016-10-30 16:29] gregsexton commented on #33
See #11

[2016-11-07 06:53] cryptomaniac512 commented on #38
Sorry, but that not working for me
```(add-hook 'prog-mode-hook (lambda ()  (origami-close-all-nodes (current-buffer))))```
What am I doing wrong? :(

[2016-11-07 11:36] ninrod commented on #38
@cryptomaniac512, this is working for me:

[code]

[2016-11-14 11:21] cryptomaniac512 commented on #38
@ninrod thank you!

[2016-11-24 12:14] wildskyf opened #46 "remember folding status last time"
I found that it will not fold when I open a file, which had been folded last time.

I wonder if there is a way to remember the folding status,
if no, this issue turns to be a feature request.

[2016-11-30 17:37] arkhan opened #47 "How to add custom folding"
Hello,

How to folding block comments, like:

---{{{ ---}}} for lua.

Thank's

[2016-12-04 09:25] nlamirault opened #48 "Melpa stable"
Hi,
Could you please create a tag to use this package using melpa stable [1].
Thanks

[1] : http://stable.melpa.org/

[2016-12-21 20:57] paullemmens commented on #47
I'm also struggling to get custom folding to work properly. In my R markdown files, code chunks are contained with

[code]

I think I could use the `(origami-markers-parser)` but that gives errors when I use the function in my spacemacs(!) configuration using `  (add-to-list 'origami-parser-alist (poly-markdown+r-mode . (origami-markers-parser "```{r" "```")))`. The error is that `origami-markers-

[2016-12-22 13:35] arkhan commented on #47
Thanks

[2016-12-22 13:35] #47 closed

[2016-12-22 14:49] paullemmens commented on #47
Hi @arkhan, not sure why you closed the issue? Could you explain your solution to me too, if you found one?

[2016-12-23 10:54] CSRaghunandan opened #49 "Add support for rust-mode"
Please add support for rust-mode :)

[2016-12-28 22:51] angrybacon opened #50 "Cannot indent-rigidly"
With the following HTML:

[code]

Calling `origami-close-node` will result in:

[code]

If I decrease indent while marking these 2 lines with the following:

[code]

I'm left with a folded node that I can't open anymore, even if I undo the changes to indent levels.

[2017-01-27 01:02] jojojames commented on #42
+1 I don't think any other folding packages support this behavior.

I like how vim does its folding.

[2017-01-27 01:29] ninrod commented on #42
you can construct a custom function with `save-excursion`. like [here](https://github.com/ninrod/dotfiles/blob/master/emacs/boot.org#ninrodorigami-toggle-node).

[2017-01-27 01:32] jojojames commented on #42
@ninrod That's a good head start.

[code]

I'll probably have to tweak it to do a 'lookahead' for 1 or 2 lines before giving up and going upwards up the stack.

[2017-01-27 01:35] ninrod commented on #42
@jojojames yes that's the spirit.

[2017-01-27 11:39] Chream opened #51 "wrong number of arguments (2 . 2), 0."
Probably an easy problem but I cant seem to get it right. I have the current binding (adapted from some of the previous issues.)

[code]

I get the error:

[code]

Ideas? Thank you!

[2017-01-27 13:48] Chream commented on #51
never mind. I made an error causing emacs to load the wrong file!

[2017-01-27 13:48] #51 closed

[2017-01-27 19:19] jojojames commented on #42
@ninrod
Here's a quick slathering, if I have time, I'll try to improve it more. Would also appreciate anyone taking and running with it to improve the folding experience.

Uses s.el for the string parsing.

[code]

[2017-01-27 19:30] ninrod commented on #42
@jojojames, I only use vim's  ```#{{{ #}}}``` triple bracket style folding, but your example looks promising.

[2017-01-28 10:25] gregsexton commented on #42
The behaviour of origami-toggle-node you describe is by design. You should use origami-forward-toggle-node. IIRC, this won't work across lines though - again this is by design so as not to be surprising.

You should be able to easily compose origami-forward-fold (jumps to the next folding point) and origami-toggle-node to get the behaviour you want. No need to parse the buffer.

[2017-01-28 10:25] #42 closed

[2017-01-28 16:04] ninrod commented on #42
by the way thank you for the awesome package @gregsexton!

[2017-02-02 01:04] rgrinberg opened #52 "Help with custom folder"
I'm trying to construct a fold that works as follows. It searches for 1 opening marker, and then creates a fold from it to 3 lines down. So there should only be a single fold in the whole buffer. This is my initial attempt:

[code]

But this isn't creating the correct fold for me. I think my understanding of how `my-grep-origami` is called and what kind of data structure it should produce isn't ve

[2017-02-02 07:23] rgrinberg commented on #52
Figured it out. Sorry for the noise

[2017-02-02 07:23] #52 closed

[2017-03-10 09:55] adamcavendish opened #54 "Is there anyway to unfold current fold using tab?"
For example, I have a cursor at `|{ ...}` or `{...}|`, and I press tab here. It automatically unfold this fold  by calling `origami-open-node`.

[2017-03-18 09:58] gregsexton commented on #54
You can bind the tab key to origami-open-node. Is this not working for you?

Off the top of my head, something like `(global-set-key (kbd "TAB") 'origami-recursively-toggle-node)` is probably what you want. It uses heuristics to jump to a fold by searching forward and will expand the entry further as you keep pressing tab.

[2017-03-19 13:20] adamcavendish commented on #54
Yeah, but if the "TAB" key has already been assigned (yasnippet), how can we chain the actions?

[2017-03-23 01:03] cnglen opened #55 "python: can't close a 2nd level node"
In python mode, the 2nd level can't be closed. Only the first level can be  close open.

![screenshot from 2017-03-23 09-00-28](https://cloud.githubusercontent.com/assets/4279208/24227352/72306a8a-0fa7-11e7-9f9e-868a60c09282.png)
![screenshot from 2017-03-23 09-00-35](https://cloud.githubusercontent.com/assets/4279208/24227355/75bdc03a-0fa7-11e7-9db7-5c0763ff3b39.png)

[2017-03-30 06:12] sawan commented on #55
Same problem here. Makes this pretty much useless for navigating large Python sources -- which was the point of trying it in the first place!

[2017-05-20 04:07] anachronic commented on #54
I'm sorry to meddle but I think I have a solution.

It turns out yasnippet only remaps the key when it's looking at a snippet pattern. This might be different in previous versions. I really don't know.

All you really have to do is remap the function mapped to tab key when its **not** looking at a snippet. In my case that is `indent-for-tab-command`. You can use what origami provides like so:

[co

[2017-06-03 03:19] pakelley commented on #46
For the record, I think #19 is what you're looking for :)

[2017-06-28 23:02] cigumo opened #56 "query-replace fails with origami"
when using query-replace in a buffer that's partially folded with origami.el, I get the following error after the first successful replace:
```replace-match-maybe-edit: Match data clobbered by buffer modification hooks```

I'm using Emacs 25.1 and Origami 20170129.805 from elpa.
The problem happened using (origami-markers-parser "{{{" "}}}") as my parser.

Thanks for your help.

[2017-08-23 18:17] lvsv opened #57 "emacs lisp comments with Scan error: "Unbalanced parentheses", xxx, yyy"
If i don't have a close paranthes in emacs lisp comment i get an error `Scan error: "Unbalanced parentheses", xxx, yyy`
As example:
[code]
Can origami mode ignore parentheses in comments?

[2017-10-01 01:53] wildskyf commented on #46
Oh, thanks!

Close due to duplicate issue.

[2017-10-01 01:53] #46 closed

[2017-10-04 19:17] xieyuheng opened #58 "really like this mode, wish it could support reStructuredText :)"

[2017-10-04 19:21] xieyuheng commented on #58
by the way,
your current github avatar might be generated by github,
but in Chinese, 火 means fire.
:: http://ctext.org/dictionary.pl?if=en&char=%E7%81%AB

[2017-11-17 10:47] Monkeypac opened #59 "Triple braces parser"
Hi, I am trying to use origami for my emacs dots.

I have a use case with triple braces. At my work, the source files use many triple braces type folds but not the same than the one handled by origami currently if I understood well.

AFAIU origami currently folds this:
`/* Fold name {{{ */
test
test
/* }}} */
`
like that:
`/* Fold name {{{...}}} */`

I'd like to be able to keep the fold name on th

[2017-12-04 01:02] aaronjensen commented on #54
Thanks @anachronic! Here's mine I've adapted slightly to make it toggle and only work for `{{{`:

[code]

[2017-12-04 09:46] gvilanova commented on #56
This issue also happens to me using Emacs 24.5.1 and Origami 20170129.805 for single brackets

[2017-12-11 14:00] #54 closed

[2017-12-15 03:10] ztlevi commented on #47
All you have to do is adding a ` before the parentheses.
[code]

[2017-12-17 13:38] Compro-Prasad opened #60 "Region folding"
Is region folding implemented? I mean what if I want a specific region to fold at a time wherever the region might be.

[2017-12-17 13:40] Compro-Prasad opened #61 "support for markup languages"
Is there support for markup languages like HTML, markdown, org(not needed but it would be good to see new folds if we go creative)?

[2017-12-17 16:29] Compro-Prasad opened #62 "Option for other src blocks"
Other source code blocks except function definitions are not considered. For example, a file contains one big function. What can `origami.el` do in such a case? We could consider hide/show of conditional and loop blocks too.

[2018-01-21 02:04] showgood opened #63 "open/close node not working if cursor is not on the marker character"
I enabled triple braces for folding in one of the file.

So what I have in that file is something like this:
[code]

origami-toggle-all-nodes works no matter where the cursor is.

however if cursor is not on one of `{`, origami-open-node or
origami-close-node won't work, nothing happens

[2018-01-24 03:50] Csomnia commented on #55
I modified python-parser to support multi level folding  tree.
#64

[2018-02-12 12:32] bymoz089 opened #65 "unable to fold #if with loop in it in c-mode"
## Description:
In c-mode origami can not fold an preprocessor `#if` with a loop in it.

## Example to reproduce:

[code]
With cursor at beginning of example call `M-x origami-forward-toggle-node`

## Expected behavior:
folding of complete `#if` block
[code]

## Observed behavior:
an error message appears in Messages buffer, no folding was done.

## Error message:

## System Info:
emacs Version: 2

[2018-02-13 11:16] bymoz089 commented on #65
Same issue with this code:
[code]

[2018-02-14 21:54] bymoz089 opened #66 "please add javadoc-style folding to c-mode folding"
Please enable javadoc folding in c-mode. To do this change `origami-c-parser` function in file `origami-parsers.el` to following code:

[code]

[2018-02-15 21:56] bymoz089 commented on #65
Looks like `origami-fold-shallow-merge` generates a wrong fold-tree.
What it generates is following:
[code]

But what it should generate is this:
[code]

[2018-02-17 08:53] heikkil opened #67 "swap origami-next-fold and origami-forward-fold"
I created my own functions using origami functions that step forward and backward the file while closing the current fold and opening the next or previous fold. This brought up the logical inconsistency between next and previous functions (they move the point to opposite ends of the fold). The inconsistency has been addressed in the origami-forward fold that does what I expected the next function

[2018-02-17 16:14] bymoz089 commented on #65
Following functions will fix this bug (I hope). Now trees which are a result of two merged trees will be correct sorted trees.
The fix is somewhat hackish because it writes the new children list directly into the array.

Short explanation of this code:
This replaces the old shallow-tree-merge.
When a node (new-node) is put into an existing tree, then all those nodes (roommates) in the tree, will b

[2018-02-17 23:09] bymoz089 opened #68 "folding of `#if 0` is weird"
When folding following code:
[code]
it looks like
[code]
the `#if 0`folding is inconsistent and provokes user errors (like inserting text between those lines)  the `newline`character after the `0` should be filtered.

[2018-03-21 09:12] dev-plvlml commented on #19
There seems to be a more generic package dedicated to the problem of making any overlays persistent: [https://github.com/mneilly/Emacs-Persistent-Overlays](). Should work with `hideshow` and `outline` modes out-of-the-box. I couldn't make it work with `origami` the easy way though. Maybe you guys with deeper understanding of overlays can do it?

[2018-04-13 12:29] wbolster opened #69 "imenu based fold parser"
hi,

i wrote a `imenu` based parser that creates folds (without any nesting) from `imenu` entries. i think this is very useful behaviour. let me know what you think, and whether this would make sense to include with `origami` itself.

i think it can be useful for many languages, e.g. #49, #29, #61, #58 and possibly others may benefit from this.

this parser can be used for any major mode that has

[2018-04-13 12:30] wbolster commented on #49
https://github.com/gregsexton/origami.el/issues/69 may be of interest to you :)

[2018-04-13 12:30] wbolster commented on #29
https://github.com/gregsexton/origami.el/issues/69 may be of interest to you :)

[2018-04-13 12:30] wbolster commented on #61
https://github.com/gregsexton/origami.el/issues/69 may be of interest to you :)

[2018-04-13 12:30] wbolster commented on #58
https://github.com/gregsexton/origami.el/issues/69 may be of interest to you :)

[2018-04-13 13:30] wbolster commented on #49
#69 works for rust:

![image](https://user-images.githubusercontent.com/748944/38737485-a8ea5514-3f2f-11e8-981c-b2cd6f4cbb11.png)

[2018-04-13 13:32] wbolster commented on #58
![image](https://user-images.githubusercontent.com/748944/38734485-28e50a16-3f26-11e8-9de7-dcf59bd8270e.png)

[2018-04-13 13:33] wbolster commented on #55
with `imenu` parsing from #69 python looks like this:

![image](https://user-images.githubusercontent.com/748944/38734459-08612e64-3f26-11e8-8c2e-7efb5f2305ae.png)

[2018-04-13 13:45] xieyuheng commented on #58
thx @wbolster :)
I was thinking about replacing some of my usages of org-mode by rst, when making this issues.
I read #69, and tried your parser.
but it did not work for me.

maybe the problem is about imenu,
I saw the function `imenu--make-index-alist`
but I do not have this function.

also, I do not know about the macro `-as->`
it seems like a threading macro, but more than `->`.
where could I l

[2018-04-13 13:57] wbolster commented on #35
with #69  and `haskell-mode`, the example code from https://hackage.haskell.org/package/base-4.11.0.0/docs/src/Data.Foldable.html looks like this:

![image](https://user-images.githubusercontent.com/748944/38738766-4115481e-3f33-11e8-813b-7e4ae46dd7ba.png)

[2018-04-13 14:09] wbolster commented on #58
the `-as->` threading macro is from `dash.el`.

coincidentally, a melpa stable version containing `-as->` was released a few hours ago:
https://github.com/magnars/dash.el/issues/243

[2018-04-13 14:12] wbolster commented on #58
`imenu--make-index-alist` is an internal function from `imenu` which is included emacs. try `(require 'imenu)` to force it to be loaded.

[2018-04-23 02:11] sawan commented on #69
Wow, this looks awesome.

So adding the elisp function + imenu is all that's required?

[2018-04-23 07:38] wbolster commented on #69
yes, and adding the configuration so that it gets used for a specific major mode. and of course that major mode should have imenu support, which seems the case for quite a few that i tried.

[2018-04-23 09:56] sawan commented on #69
I couldn't get this to work in Python mode. What entry function should I be invoking? I tried origami-close-all-nodes.

[2018-04-24 12:00] wbolster commented on #69
@sawan what you describe works for me and is indeed how this is supposed to work.

what does your `origami-parser-alist` variable look like? does `python-mode` point to the right helper?

also try `origami-reset`, or killing the buffer and reopening the file.

[2018-04-27 03:56] sawan commented on #69
@wbolster

I have added the function it to `origami-parser-alist`.

Now I get an error saying `let*: Symbol’s value as variable is void: create`

[2018-04-30 13:13] ThibautVerron opened #70 "Indentation in html"
Hello,

I have been trying origami-mode with html code. It shouldn't be too hard to write a parser, but I think that indentation-based folding should already be good enough for most purposes.

However, it seems that the indentation-based engine runs into trouble with html.

For example, it seems to be selecting the first line with the current indentation as the folding point, instead of selecting

[2018-05-06 05:35] sawan commented on #69
Hi @wbolster,

I have added the parser function to my configuration:

https://github.com/sawan/emacs-config/blob/279e125344a81d3bf548e64c302829bc3a2efcb2/emacs24.el#L1614-L1651

And here is the value of [`origami-parser-alist`](https://github.com/sawan/emacs-config/blob/279e125344a81d3bf548e64c302829bc3a2efcb2/emacs24.el#L1718-L1746)

[2018-05-07 07:31] gregsexton commented on #69
Great idea! Do you want to send a pull request?

[2018-05-15 01:53] sawan commented on #69
@wbolster I have sent you an email with the stack trace attached.

Thanks again....

[2018-05-15 13:06] wbolster commented on #69
ah, found something. here's a trimmed down version

[code]

[2018-05-15 13:08] wbolster commented on #69
weird, that `create` variable is an argument to the parser function, and should be passed in by origami.

which emacs version?

and no idea whether it's related, but do you have `lexical-binding` on? e.g. first line of my `init.el` reads

[code]

[2018-05-16 00:28] sawan commented on #69
@wbolster

Lexical Binding was indeed the problem!!

I put

`;;; -*- lexical-binding: t -*-`

in my `.emacs` and it works like a charm -- may I say its a very good approach to solving this problem!

Thank you again and I hope you keep up the good work.

[2018-05-16 18:28] wbolster commented on #69
@sawan awesome!

[2018-07-02 22:26] bradyt opened #72 "Unbalanced-parenthesis in cc-engine.el.gz"
If I start a new emacs, with a new `.emacs.d/`, with only `package-archives` set, install `origami`, then `M-x find-library RET cc-engine RET`, then `M-x origami-mode RET` and `M-x origami-close-all-nodes`, I get error `Unbalanced parenthesis`.

[2018-07-14 20:52] alphapapa opened #73 "Default arguments for buffer and position?"
Hi,

I just added mention of this package to the [org-super-agenda docs](https://github.com/alphapapa/org-super-agenda/blob/master/examples.org#automatically-fold-certain-groups-with-origami).  It's very cool `origami` works with it without any configuration!

While working on that example, I noticed that a lot of the functions require arguments that idiomatic Emacs code would typically provide by

[2018-09-02 21:20] toludwig opened #74 "support for orgmode?"
As your implementation for recursive folding already mimics orgmode, can you make it work for orgmode as a major mode? How would I go about doing so? Would I make use of orgmode's own data structure or rather reimplement it?

[2018-10-03 16:42] coreyoconnor commented on #29
I've been happy with the c style parser and scala:

[code]

[2018-10-03 22:20] coreyoconnor opened #76 "tags-query-replace fails with "Match data clobbered by buffer modification hooks""
When using origami.el for folding and `tags-query-replace`, the replace operation will fail on a file with folds with "Match data clobbered by buffer modification hooks"

In my case this is invoked using projectile's global search/replace feature. Which internally uses `tags-query-replace` and I'm able to induce the failure directly using `tags-query-replace`. The search/replace fails as soon as a

[2018-10-08 16:14] edgimar opened #77 "Parser for object pascal"
I realize that object pascal isn't as popular as languages like python or C++, but it would be wonderful if there were a parser for object pascal available.  Here's a grammar for it in case it's useful:  https://www.davidghoyle.co.uk/WordPress/?page_id=1389

Keep in mind that pascal is case insensitive.

[2018-10-19 20:11] edgimar opened #78 "allow specifying an elisp function to provide folded-state-text based on first line of fold"
It would be nice to be able to specify a regular expression (or more generally an elisp function) that would be applied to the first folded line in order to extract some portion of that line for showing as the `origami-fold-replacement` text for a particular fold.

In other words, if I have:
[code]
then after folding, I should be able to see:
[code]
provided that I have set up an appropriate elisp

[2018-12-02 21:29] a-hausmann commented on #59
If I understand you want the text "Fold name" (or whatever) to show in the buffer while anything after that up to but not including the end marker "}}}" to be included in the fold (ellipsis).

IMHO, that would be an extreme edge case, as the parser would have to take anything after "{{{" (plus trailing space? without trailing space?) up to "* /" (plus leading space? without leading space?) as the

[2018-12-02 21:45] a-hausmann commented on #39
I had a similar problem with "large" files (though 2 Mb, 39000+ lines is **not** large), though I didn't think to look at CPU--it just took forever to do anything. The problem was definitely linum in combination with origami. I removed all the fold markers in my file (1148 of them) and the problem went away (with origami and linum). I commented out linum from config and edited with origami and fol

[2018-12-06 14:59] edgimar opened #79 "option to have origami-indent-parser ignore initial lines that are comments"
Currently when using `origami-indent-parser`, something like this:
[code]
would get collapsed into the following:
[code]

It would be nice to have an option to ignore initial comment lines, so that instead it could be collapsed to:
[code]

[2018-12-11 20:50] peterpaul opened #80 "Folding of origami-markers-parser with unbalanced sizes displays wrongly."
I'm using origami for a major mode I'm working on, where i use a very simple origami-markers-parser.
However the sizes of the begin and end marker strings are different, and when closing all the nodes it produces unexpected results.

For example
- with `(origami-markers-parser "12" "7890")` on the string `1234567890` i expect `12...7890`, but see `1234...7890`
- with `(origami-markers-parser "abcd

[2019-02-18 23:03] dathinaios opened #83 "Adding marker based folding without affecting the default behavior"
At the moment I can add marker folding using:

[2019-03-24 22:35] hubgitname opened #84 "origami loading issue"
Loading s, dash and origami manually on emacs I am not able to use origami at all. I get some wierd messages on screen. I download the origami package from melpa, but loaded the dependencies and files manually. See pic below for the problem when I issued "origami-toggle-node"
<img width="591" alt="origami_problem" src="https://user-images.githubusercontent.com/37636187/54886876-39749980-4e4a-11e9-

[2019-04-21 06:02] emacksnotes opened #86 "Backtrace when `M-x origami-recursively-toggle-node` on xdisp.c@Emacs 26.2"
Visit xdisp.c@Emacs 26.2

With point at the beginning of buffer, do `M-x origami-recursively-toggle-node`.  I get the following backtrace which goes like this.  (See attachment for the full backtrace)

[code]

I have loaded uncompiled origami source from the commit `1f38085c8f9af7842765ed63f7d6dfe4dab59366 Merge pull request #37 from purcell/master
`

[origami-recursively-toggle-node-backtrace.txt

[2019-05-04 12:30] bricewge commented on #41
It is a duplicate of #25.

[2019-05-22 16:55] a-hausmann commented on #56
Happens to me too using Emacs 26.1 (build 1, x86_64-w64-mingw32). Interesting, when changing text throughout the buffer, text BEFORE the fold marker "{{{" is changed, but not after; so, with 10 occurrences of 'TEXTA' total and 2 before "{{{", the first two are changed and then the match is clobbered. I note that if I narrow the buffer to text between the fold markers, there is no error, but as lon

[2019-05-23 13:17] jimmywongroo commented on #69
@wbolster Care to open a PR for this useful feature?

[2019-05-23 13:52] wbolster commented on #69
tbh i'm not sure this project is actually maintained. @gregsexton is it?

[2019-06-21 20:29] dscole commented on #39
I'm having similar performance issue with origami. I have a c++ file that I don't think is too large (especially compared to @a-hausmann's 39000+ lines files), it is has about 2500 lines and 380 brace pairs (max nesting is probably 6-7 braces deep). There is a top level struct that everything else in the file is nested with in it. To try and isolate the issue I switch to fundamental-mode, to avoid

[2019-06-23 20:38] a-hausmann commented on #39
@dscole, I exclusively use 'triple-braces as origami-fold-style. I found that origami sets up a list of beginning/ending points in order to set up the folds; I'd bet the same happens for C/C++.  I also found that Origami doesn't well handle unbalanced triple-braces, so am wondering if perhaps there are unbalances braces in your code base somewhere.  I constantly picked on one program as an example

[2019-06-29 09:12] jcs090218 commented on #69
@gregsexton Are you still maintaining this project, if you are just busy consider adding some collaborator or something that could keep this project maintained! Please keep this awesome project alive! Thank you!

[2019-09-23 14:15] alhassy opened #88 "fyi ;; Support for Searching and a Hydra for Super Quick Navigation"
I've settled on origami as my main folding mode, and below are somethings I've found helpful ---and wished would have been in the Readme, so I'm posting them here in case any lookers come by.

---

Support for searching:
[code]

A hydra for super quick navigation and easily folding, unfolding blocks! Love this one ^_^

[code]

[2019-11-21 09:44] Nathoufresh opened #89 "Functions not foldable in python"
origami-toggle-node works well for classes but does not work for functions in python. Is this an expected behavior?
[code]

[2019-12-11 08:33] seagle0128 opened #90 "Package cl is deprecated in 27"
Package `cl` is deprecated in 27. Should use `cl-lib` instead.

[2020-02-22 19:44] hyiltiz opened #92 "Provide customizable default bindings?"
Following the principle of "Have the cake and eat it too", it would be sensible to provide decent defaults for keybindings. It could be easily configurable. Since most people are using a) Emacs keybindings; b) Vim keybindings; c) mostly custom keybindings (like hydra etc.), it would be awesome to define a few key maps that can be easily bound for Emacs style and vim style leader keys. All a user n

[2020-03-03 13:26] bdarcus commented on #74
I was wondering the same thing; how to do hook in (sub heading) paragraph, etc. folding in the org visibility cycle.

[2020-03-23 23:01] thisch commented on #57
I think I have the same issue. My init.el contains commented out elisp-code, which probably causes the `Unbalanced parentheses` error.

[2020-03-31 10:21] gregsexton commented on #69
I like `origami-parser-imenu-flat`, I've been using it for a few months without a problem. Will merge a PR.

[2020-04-17 06:45] LouisStrous commented on #56
I found a reliable reproduction scenario, and a fix that works for me.

Reproduction scenario:

1. Visit a C++ file that contains a syntax error.  (Presumably the programming language is not important.)
2. Do `revert-buffer`.  This is a **workaround** for the issue, so we get to a state where query-replace works.
3. Do a `query-replace` that replaces multiple occurrences.  This succeeds.
4. Undo t

[2020-04-19 06:27] wakatara opened #94 "[FEATURE] Support for Star comments in Ledger mode"
[Ledger](https://www.ledger-cli.org) is a plain text based double-entry accounting format that has been around since 2003 and is not only ported to other systems but quite powerful (big fan.). It's pretty decently used.

It also supports `*` lined comments but at the moment these are neither fontified or foldable in  [emacs ledger-mode](https://github.com/ledger/ledger-mode) with origami. I was ju

[2020-05-26 09:32] alvarogonzalezsotillo opened #95 "Added some functionality. Better a new package or a PR?"
Hello,

I have developed a new package based on origami (https://github.com/alvarogonzalezsotillo/origami-predef)

The package adds a new global mode that apply initial folding to every opened file. The lines to be folded are marked by customizable tags. For example:
[code]

I was about to publish this package in MELPA, but If you think this will be a good addition to the origami package, I would

[2020-05-26 10:32] #94 closed, assigned to nobody

[2020-08-20 13:38] jcs090218 commented on #95
This probably been too late. But just to inform you that I have started a new branch [here](https://github.com/jcs-elpa/origami.el). You can open issue or PR over there instead. Thanks!

[2020-08-20 13:44] jcs090218 commented on #69
Hi, just want inform people here that have started a new branch [here](https://github.com/jcs-elpa/origami.el/).

If you don't mind using [celpa](https://celpa.conao3.com/), you can open the PR there instead! Thanks!

For reason why? See https://github.com/jcs-elpa/origami.el/issues/1.

[2020-08-20 16:06] logangrado commented on #38
Hi - I'm also having trouble with this. I'm trying to:
1. Ensure origami-mode is activated any time a code editing mode is activated, and
2. Run `origami-close-all-nodes` when origami-mode starts.

the problem is, I can't get both to work.

Here's the relevant section of my `use-package.el`
[code]

And the definition of `code-editing-mode-hooks`:
[code]

The problem is I get `File mode specificati

[2020-08-23 10:57] alvarogonzalezsotillo commented on #95
I developed the `origami-predef`package (https://github.com/alvarogonzalezsotillo/origami-predef). It is very simple, and can be added to your fork without problems.

I suppose we should  change the `origami-predef` prefix of all functions/variables (for example, to `origami-auto`), and add them to your fork. Just in case there is some conflicts if someone is already using the `origami-predef`pack

[2020-08-23 11:02] jcs090218 commented on #95
Feel free to open PR if you like! This branch is currently on celpa only so I don't think there will be any conflicts!

[2020-09-01 09:21] jcs090218 opened #99 "[INFO] New Branch/Fork"
I have started a new branch [here](https://github.com/jcs-elpa/origami.el).

See https://github.com/jcs-elpa/origami.el/issues/1 for more information.

Thanks! :)

[2020-10-13 09:59] ThibautVerron opened #101 "Question regarding merging parsers"
Hi,

I'm trying to write a parser for LaTeX more, leveraging the built-in support by outline-minor-mode and tex-fold-mode.

So far I've been trying to integrate those parsers myself, but it looks like origami does have a lot of functions for tree manipulation.
Is there something which would allow to merge trees, shortening nodes if needed?

For instance, for a buffer:

[code]
and a parser "type 1"

[2020-10-21 05:33] diamond-lizard opened #103 "byte-compile warnings"
When I byte-compile origami, I get these warnings:
[code]

[2020-10-27 03:02] jcs090218 commented on #101
You can open this in my branch here, https://github.com/jcs-elpa/origami.el.

See, https://github.com/gregsexton/origami.el/issues/99.

[2020-10-27 06:36] ThibautVerron commented on #101
Hi, thanks for your answer!

It took me a while to figure out what branch you meant... I guess you meant fork?

I have read about why this fork was created on Melpa but I'm afraid that separating issues between upstream and fork is only going to add to the confusion. Especially considering that this issue is really a question and not a bug report, I think it is better for it to be where more peopl

[2020-10-27 07:04] jcs090218 commented on #101
Yes! Sorry for the confusion. I have changed my title to branch and fork!

Got it!

Not really. I am reading the code now but in a very slow progress. As I mentioned in the thread here, https://github.com/jcs-elpa/origami.el/issues/1. I am looking for people to co-maintain or further develop this package together. Mainly due to the author's lack of activity. Therefore, everything I am trying to do

[2020-12-18 02:20] andrewbanchich commented on #49
Any updates on this? I'd love to this with Rust.

[2020-12-26 19:44] paultopia commented on #47
Just in case future people trying to use custom parsers happen upon this old issue--- ztlevi's suggestion seems to get the quoting wrong.  You actually need to backquote the sexp starting with the node name, and then unquote the sexp starting with `origami-markers-parser`.  For example (my code that works):

[code]

Honestly, I'm not good enough the intricacies of macros and quoting to know why th

[2021-02-21 19:57] jvasile commented on #101
Hello, I am interested in orgami-mode for Latex. I came here to get some hints on implementing it and found this issue.  I don't particularly care whether this gets implemented in origami-mode or as a parser defined in my .emacs.  @ThibautVerron have you made any progress?  If your WIP is in a repo somewhere, drop a link and I'll take a look.  Thanks!

[2021-02-22 07:19] jcs090218 commented on #101
Hi @jvasile,

If you are looking for merging multiple parsers then try my fork [here](https://github.com/emacs-origami/origami.el). It allows you to merge multiple parsers to one parser by using function `origami-fold-shallow-merge`. From what I remember from this version of origami, it only accept merging 2 parsers.

If you are going to write your own parser for origami, then you should go check

[2021-02-22 09:29] ThibautVerron commented on #101
Hi @jvasile . No I have not made new progress since last time, but I would like to look at it again in the very near future.

I put the code I have so far on https://gitlab.com/thibaut.verron/latex-folding. As far as I remember it's far from working, but if @jcs090218's fork lets us merge parsers, it could be made to work without too much effort. I believe a lot of my problems were coming from the

[2021-02-22 14:09] jvasile commented on #101
Thanks for the pointers, @ThibautVerron.  I'll take a look and keep an eye on @jcs090218's fork.

[2021-03-02 08:25] rromoli commented on #103
I get the same error...indeed I'm not able to use it or have it to be installed...very annoing

[2021-04-22 07:16] ekr1 opened #105 "Doesn't show up on MELPA"
The package does not show up in the package list at all (I do have MELPA as source).

I do see "origami-predef" which is mentioned in some other issue/PR here, but that is listed as incompatible (since it has a dependency on Emacs 24).

[2021-05-19 17:01] skrytebane commented on #49
@andrewbanchich If you use https://github.com/emacs-lsp/lsp-origami, you can get folding for Rust. (And other LSP-supported languages.)

[2021-05-19 17:03] skrytebane commented on #29
Maybe https://github.com/emacs-lsp/lsp-origami works for Scala (Metals?) as well?

[2021-09-10 20:30] #58 closed

[2021-10-09 14:57] hongyi-zhao opened #109 "forward-sexp: Scan error: "Unbalanced parentheses", 50316, 100569"
I installed this package as follows:
[code]
But when I try to fold the following code snippet with `M-x origami-close-node`:
[code]
I get the following error:

`forward-sexp: Scan error: "Unbalanced parentheses", 50316, 100569`

Any hints for this problem?

Regards,
HZ

[2021-12-06 00:43] pcinereus opened #110 "Help with a custom origami-markers-parser"
I would like to be able to define a new set of specific beginning and ending markers for R (ess).  Specifically, I would like to have the following:
[code]
This chunk format is used by Rmarkdown to define a retrievable block of R code in an R script and incorporate it into a markdown document.  Since my R scripts have these code fences, it would be convenient to be able to use them for code foldin

[2022-02-09 13:28] s-kostyaev opened #111 "Origami breaks go table test file on save"
Hi! Thank you for this nice project!

I have tried it today and I have a problem. Steps to reproduce:
1. install `origami` + `lsp-origami`
2. set `(add-hook 'before-save-hook #'gofmt-before-save)`
2. open go table test file with multiple testcases
2. enable lsp, origami, lsp-origami modes
3. hide all nodes
4. show some nodes
5. delete some nodes (mark and delete some data inside testcase) - like t

[2022-02-09 18:52] s-kostyaev commented on #111
it was `gofmt-before-save`. Workaround:
[code]
Sorry for the noise.

[2022-02-09 18:52] #111 closed, assigned to nobody

[2022-02-19 01:58] mhlr commented on #14
Please?! :)

[2022-04-22 07:28] buhtz opened #112 "File mode specification error: (error Autoloading file origami.elc failed to define function origami)"
I use Emacs 27 from Debian stable (11) repository.

I can enable `origami` without any problem with `M-x origami-mode`.

But when I use a `:hook` for python mode I got this in my Message buffer

`File mode specification error: (error Autoloading file /home/user/.emacs.d/elpa/origami-20200331.1019/origami.elc failed to define function origami)`

This is the relevant section of my init file
[code]

[2022-06-06 16:55] buhtz commented on #19
Does anyone work on that Issue today?

[2022-07-14 17:12] #112 closed, assigned to nobody

[2022-11-14 19:10] vigilancetech-com opened #114 "new parser request"
it would be awesome if there as a parser for Basser Lout

[2022-11-19 16:30] jplindstrom opened #115 "Feature: origami-backward-fold-outer-level"
A common and extremely useful navigation is to back out of the current folding level.

In the similar `outline-mode`, this is `outline-up-heading`.

I would love to see this in origami.

[2022-11-21 10:41] gregsexton commented on #115
I have something like this bound to a key, does this work?

[code]